
.vs/slnx.sqlite
.vs/Jesperi/v16/.suo
.vs/Jesperi/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/shakki/v16/.suo
.vs/shakki/v16/Browse.VC.db
.vs/shakki/v16/Browse.VC.db-shm
.vs/shakki/v16/Browse.VC.db-wal
.vs/shakki/v16/Browse.VC.opendb
.vs/shakki/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.ipch
*.db-wal
.vs/shakki/v17/Browse.VC.db-shm
*.db-shm
.vs/shakki/v17/ipch/AutoPCH/aa950e0723052efc/ASEMA.ipch
.vs/shakki/v17/ipch/AutoPCH/9a4050aec96a7b2/NAPPULA.ipch
.vs/shakki/v17/ipch/AutoPCH/2e5c3ad29d275eb8/MAIN.ipch
.vs/shakki/v17/ipch/AutoPCH/11b034e09fed557a/KAYTTOLIITTYMA.ipch
.vs/shakki/v17/Browse.VC.db-shm
.vs/shakki/FileContentIndex/d70d12f8-52ca-495b-8917-caa57798ba19.vsidx
.vs/shakki/v17/Browse.VC.db-wal
*.db-wal
.vs/shakki/FileContentIndex/d70d12f8-52ca-495b-8917-caa57798ba19.vsidx
.vs/shakki/v17/.suo
.vs/shakki/v17/Browse.VC.db
.vs/shakki/v17/Browse.VC.db-shm
.vs/shakki/v17/Browse.VC.db-wal
shakki/Debug/asema.obj
shakki/Debug/kayttoliittyma.obj
shakki/Debug/main.obj
shakki/Debug/nappula.obj
shakki/Debug/peli.obj
shakki/Debug/ruutu.obj
shakki/Debug/shakki.exe.recipe
shakki/Debug/shakki.ilk
shakki/Debug/shakki.log
shakki/Debug/shakki.tlog/CL.command.1.tlog
shakki/Debug/shakki.tlog/CL.read.1.tlog
shakki/Debug/shakki.tlog/CL.write.1.tlog
shakki/Debug/shakki.tlog/link.command.1.tlog
shakki/Debug/shakki.tlog/link.read.1.tlog
shakki/Debug/shakki.tlog/link.write.1.tlog
shakki/Debug/shakki.tlog/shakki.lastbuildstate
shakki/Debug/siirto.obj
shakki/Debug/vastustaja.obj
shakki/Debug/vc143.idb
shakki/Debug/vc143.pdb
