
.vs/Jesperi/v16/.suo
.vs/Jesperi/v16/Browse.VC.db
.vs/ProjectSettings.json
.vs/shakki/v16/.suo
.vs/shakki/v16/Browse.VC.db
.vs/shakki/v16/Browse.VC.db-shm
.vs/shakki/v16/Browse.VC.db-wal
.vs/shakki/v16/Browse.VC.opendb
.vs/shakki/v16/ipch/AutoPCH/36daff846c4217d0/ASEMA.ipch
.vs/shakki/v16/ipch/AutoPCH/70b685f08b89a50e/NAPPULA.ipch
.vs/shakki/v16/ipch/AutoPCH/82419ee6baae4da4/MAIN.ipch
.vs/shakki/v16/ipch/AutoPCH/a9acb45bf46be84e/KAYTTOLIITTYMA.ipch
.vs/slnx.sqlite
