
.vs/shakki/v16/.suo
.vs/shakki/v16/Browse.VC.db
.vs/shakki/v16/Browse.VC.db-shm
.vs/shakki/v16/Browse.VC.db-wal
.vs/shakki/v16/Browse.VC.opendb
.vs/shakki/v16/ipch/AutoPCH/b40bbbe0ecc94272/ASEMA.ipch
.vs/shakki/v16/ipch/AutoPCH/c92babe87ce78c22/MAIN.ipch
.vs/shakki/v16/ipch/AutoPCH/e392fd4d923172a8/KAYTTOLIITTYMA.ipch
shakki/Debug/shakki.tlog/CL.read.1.tlog
shakki/Debug/shakki.tlog/CL.command.1.tlog
shakki/Debug/shakki.log
shakki/Debug/shakki.log
shakki/Debug/shakki.log
shakki/Debug/shakki.tlog/CL.write.1.tlog
shakki/Debug/shakki.log
.vs/shakki/FileContentIndex/55f26cfa-51d1-43ab-afea-a7fffa526389.vsidx
